body,div,video,canvas,select{
	margin:0px;
	border:0px;
	padding:0px;
	font-size:0px;
}
span{
	font-size:12px;
}
button{
	background-color:azure;
}

.fixed{position:fixed;}
.top{top:0px;}
.left{left:0px;}
.right{right:0px;}
.bottom{bottom:0px;}

.trans-sphere{
	border-radius:30px;
	border-color:black;
	opacity:0.4;
	z-index: 3;
}
.trans-block{
	display:inline-block;
	color:darkblue;	
	opacity:0.8;
	margin:0 10px 10px 0px;
	z-index: 3;
}
.selection{
	width:90%;
	height:30px;
	background-color:cyan;
	opacity: 0.5;
	border:1px solid blanchedalmond;
	margin: 0 auto;
	padding: 15px 0 0 0;
}
/*
 * Specific Sytle
 */
#view-main{
	background-color:aliceblue;	
}
#view-aux{
	border:1px solid hotpink;
	background-color:chartreuse;
}
#view-render{
	background-color:rgba(0,0,0,0);
}
#panel-object{
	background-color:rgba(105,180,90,0.4);
	display: none;
}
#toggle-show-panel{			
	opacity:0.4;
}
#view-select-object{
    position: absolute;
    left:0px;
    bottom:0px;
    text-align: center;
    display: none;
}
